<div class="modal keyboard big-modal hide" id="descriptionexample">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Examples <small>you can copy your chosen text below and paste into the form</h3>
  </div>

  <div class="modal-body">

<h3>Bug Report</h3>
<pre><code>### Problem

A description of your problem, including, if possible, the steps necessary to reproduce it.

### Proposed Solution

A description of your proposed solution.

### Operating System Name & Version Number, Browser Name & Version Number

</code></pre>

<h3>Feature Request</h3>
<pre><code>### I would like:

A description of the new IT feature or service you would like.

### Instead of:

A bried description of a problem you or your users/audience have with existing IT features or services.

### Because:

A brief description of your requested feature's or service's advantages.
</code></pre>
</div>

<div class="modal-footer">
<a href="#" class="btn" data-dismiss="modal">Close</a>
{# <a href="#" class="btn btn-primary">Save changes</a> #}
</div>

</div>