{% extends "blog/blog_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load blog_tags %}
{% load thumbnail %}

{% block head_title %}{{ post.title }} - {% if post.author.get_profile.name %}{{ post.author.get_profile.name }}{% else %}{{ user.username }}{% endif %}'s IT Wish List{% endblock %}


{% block extra_style %}
{% if user.is_authenticated %}
    <link href="{% static "css/Markdown.Editor.css" %}" rel="stylesheet">
{% endif %}
{% endblock extra_style %}


{% block body_id %}postdetail{% endblock body_id %}

{% block body %}

    {% check_post_status request.user post %}
    
    {% if show_post %}
    <div class="row">
        <div class="span7">
            <div class="post">
            {# get ready for voting #}
            {% load voting_tags %}
            {% vote_by_user user on post as vote %}
            {% score_for_object post as score %}
                {% load markup %}
                {# {{ post.content_markdown|markdown:"safe" }} #}
                {# http://michelf.ca/blog/2010/markdown-and-xss/ #}
                <h1><a style="text-decoration:none;" href="{{ post.get_absolute_url }}" title="Permanent link to this entry.">{{ post.title }}</a></h1>
                <p class="subdued">
                    <span class="caps">
                    {% if post.kind == "F" %} {# if an feature: #}
                        Feature Request
                    {% endif %}
                    {% if post.kind == "K" %}
                        IT Knowledge Base Article
                    {% endif %}
                    {% if post.kind == "B" %}
                    {# {% else %} or a bug: #}
                        Bug Report
                        {% if post.url %}
                        <br>
                        URL: <a title="Opens in a new window." onclick="window.open(this.href, this.target); return false;" href="{{ post.url }}">{{ post.url }}</a>
                        {% endif %}
                    {% endif %}
                    </span>
                    by 
                    {# {% if post.author.get_profile.user_photo %}<a href="/profiles/{{ post.author.username }}/"><img src="{% thumbnail post.author.get_profile.user_photo 24x24 crop %}" /></a>{% endif %}  #}
                    <a href="/profiles/{{ post.author.username }}/">{% if post.author.get_profile.name %}{{ post.author.get_profile.name }}{% else %}{{post.author.username}}{% endif %}</a>
                    
                    
                    
                </p>
                {{ post.content_html|safe }}
                 {# another option is to use markdown and urlize,  pro: links get automatically linked without the need of < and >  con: performance suffers #}
                {# urlify_markdown is also available in blog_tags.py, but not working. #}
                {# {{ post.content_markdown|urlize }} #}
            </div> {# end div.post #}
            
            {# disqus #}
            {% load comments %}
            {% if post.allow_comments %}
            <div id="commentsbox">
                {% get_comment_count for post as comment_count %}
                <h3 id="comments">Comments <span class="normal quiet">({{ comment_count }})</span> <a class="normal smaller" href="#writecomment"><i class="icon-comment"></i> Write a comment</a></h3>

                
                {% render_comment_list for post %}
                {% render_comment_form for post %}
                {# {% get_comment_form for entry as form %} #}
            
                
            </div> {# end commentsbox #}            
            {% endif %}

            {# =todo: links to previous, next, all - only from current user #}
            {# https://docs.djangoproject.com/en/dev/topics/pagination/ #}
 
        </div> {# end .span7 #}

       <div class="span4">

           <div class="meta well">
                   <form class="postvote pull-left" id="postup{{post.id}}" action="/posts/{{ post.slug }}/{% if vote and vote.is_upvote %}clear{% else %}up{% endif %}vote/?next={% firstof request.path '/' %}" method="POST">
                       {% csrf_token %}
                       {% if vote and vote.is_upvote %}
                          <input type="submit" value="&and;" id="postuparrow{{ post.id }}" title="clear your vote">
                       {% else %}
                           <input class="quiet" type="submit" value="&and;" id="postuparrow{{ post.id }}" title="Upvote this item.">
                       {% endif %}
                   </form>

               <p class="votes subdued">
                   {% comment %}
                   {% if score.num_votes %}
                       {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}
                       {% else %}
                       <span class="small quiet">0</span>
                   {% endif %}<br>
                   {% endcomment %}
                   {% if score.score %}
                       {{ score.score|default:0 }} point{{ score.score|default:0|pluralize }}
                       {# {{ score.score|default:0 }} #}
                   {% else %}
                    <small>no votes yet</small>
                   {% endif %}
               </p>
               <br style="clear:both;">

           </div> {# end .meta .well #}
            <div class="meta well">
                
                {% if user.is_staff %} 
                    <a class="btn" href="/admin/blog/post/{{ post.id }}">Edit as Admin</a><br>
                {% endif %}
                
                {% ifequal post.author request.user %}
                    <a class="btn" href="{% url blog_edit post.id %}"><i class="icon-edit"></i> Edit</a>
                    <a class="btn" href="{% url blog_delete post.id %}"><i class="icon-remove"></i> Delete</a> 
                    <br>
                    <br>
                    <span class="caps">Change status to:</span>

                    <ul class="nav nav-pills nav-stacked">
                    <li{% if post.status == 1 %} class="active"{% endif %}><a href="{% url blog_change_status 'draft' post.id %}">Draft</a></li>
                    <li{% if post.status == 2 %} class="active"{% endif %}><a href="{% url blog_change_status 'public' post.id %}">Pending</a></li>
                    <li{% if post.status == 3 %} class="active"{% endif %}><a href="{% url blog_change_status 'inprogress' post.id %}">In Progress</a></li>
                    <li{% if post.status == 4 %} class="active"{% endif %}><a href="{% url blog_change_status 'done' post.id %}">Done</a></li>
                    {# <li{% if post.status == 5 %} class="active"{% endif %}><a href="{% url blog_change_status 'kb' post.id %}">Knowledge Base</a></li> #}
                    </ul>


                    <br>
                    <br>
                {% endifequal %}
                {# {% load thumbnail %} #}
                {#                 {% if post.author.get_profile.user_photo %}<a href="/profiles/{{ post.author.username }}/"><img class="pull-right" src="{% thumbnail post.author.get_profile.user_photo 48x48 crop %}" /></a>{% endif %} #}
                {#                 <span class="caps">Author:</span> <strong><a href="/profiles/{{ post.author.username }}/">{% if post.author.get_profile.name %}{{ post.author.get_profile.name }}{% else %}{{post.author.username}}{% endif %}</a></strong> #}

                {# =todo: display and allow users to change observers field #}
                {# http://stackoverflow.com/a/4270839 #}
                <br>
                <span class="caps">Observers:</span>
                    <ul class="unstyled">
                    {% for observer in post.observers.all  %}
                        <li>
                            {# <a href="/profiles/{{ observer }}/">{% if observer.get_profile.user_photo %}<img style="vertical-align:middle;" src="{% thumbnail observer.get_profile.user_photo 24x24 crop %}" />{%else%}<span style="display:inline-block; width:24px; height:24px; background:#ccc; vertical-align:middle;"></span>{% endif %}</a> #}
                            
                            <a href="/profiles/{{ observer }}/">{% if observer.get_profile.name %}{{observer.get_profile.name}}{% else %}{{observer}}{% endif %}</a></li>
                    {% endfor %}
                    </ul>                
                
                <br>
                <span class="caps">Status:</span> {{post.get_status_display}} {# http://stackoverflow.com/a/1106201/412329 #}
                <br>
                {% comment %}
                    
                    =todo: responsible field
                <span class="caps">Responsible:</span> {% if post.responsible.get_profile.name %}{{ post.responsible.get_profile.name }}{% else %}{{post.responsible.username}}{% endif %} {# http://stackoverflow.com/a/1106201/412329 #}
                <br>
                {% endcomment %}
                <span class="caps">Published:</span> {{ post.publish|date:"D, d M Y, H:i"}}
                <br>
                <span class="caps">Last Updated:</span> {{ post.updated_at|date:"D, d M Y, H:i"}}
                <br>
                <a style="text-decoration:underline;" class="small" href="{{ post.get_absolute_url }}" title="Right-click and Copy Link, or copy the link in the browser's address bar."># permanent link to this page</a>
            </div> {# end .meta .well #}
            <div class="meta well">
                {% include "search_form.html" %}
            </div>


        </div> {# end .span4 #}
    </div> {# end .row #}
    {% endif %}
{% endblock %}


{% block extra_script %}
{% if user.is_authenticated %}
    <script src="{% static "js/Markdown.Converter.js" %}"></script>
    <script src="{% static "js/Markdown.Sanitizer.js" %}"></script>
    <script src="{% static "js/Markdown.Editor.js" %}"></script>

    <script type="text/javascript">
    (function () {
        var converter1 = Markdown.getSanitizingConverter();
        var editor1 = new Markdown.Editor(converter1);
        editor1.run();
        
        // var converter2 = new Markdown.Converter();

        // converter2.hooks.chain("preConversion", function (text) {
        //     return text.replace(/\b(a\w*)/gi, "*$1*");
        // });

        // converter2.hooks.chain("plainLinkText", function (url) {
        //     return "This is a link to " + url.replace(/^https?:\/\//, "");
        // });
        
        // var help = function () { alert("Do you need help?"); }
        
        // var editor2 = new Markdown.Editor(converter2, "-second", { handler: help });
        
        // editor2.run();
    })();

    // toggle preview =todo: get this working in an include
    // http://stackoverflow.com/a/9380998
    // http://jsfiddle.net/andresilich/dQ5b7/1/
    $('a.toggles').click(function() {
        // $('a.toggles i').toggleClass('icon-chevron-left icon-chevron-right');

        $('#wmd-preview').animate({
            height: 'toggle'
        }, 200);
        // $('#content').toggleClass('span12 span9');
    });

    $('#wmd-preview').toggle(

    function() {
        $(this).css({
            'display': 'block'
        });
    }, function() {
        $(this).css({
            'display': 'none'
        });
    });

</script>
{% endif %}
{% endblock extra_script %}
