{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="google-site-verification" content="R_jP79j_hRVBVKaWO9wMHwUJ6V4CAmEudIojgM-WaxA" />
        <meta name="robots" content="all" />
        <meta name="description" content="IPPC IT Wish List " />
        <meta name="keywords" content="it, ippc, wish list" />

        <title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if SITE_NAME %} - {{ SITE_NAME }}{% endif %}{% endblock %}</title>

        <link rel="Shortcut Icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />

        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            {# <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet"> #}
            <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
            <link href="{% static "css/itwishlist.css" %}" rel="stylesheet">
            
            {% block extra_style %}{% endblock %}
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

{# analytics #}
{% comment %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-293592-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endcomment %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block topbar_base %}
            {# <div class="navbar-inner {% block navbar_class %}navbar-fixed-top{% endblock %}"> #}
            <div class="navbar">
                <div class="navbar-inner {% block navbar_class %}navbar-fixed-top{% endblock %}">
                    <div class="container">
                        {% block topbar %}
                            {# <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> #}
                                {# <span class="icon-bar"></span> #}
                                {# <span class="icon-bar"></span> #}
                                {# <span class="icon-bar"></span> #}
                            {# </a> #}
                            {# {% block site_brand %}<a class="brand" href="{% url "home" %}" title="IT Wish List homepage - most popular entries"><img src="{% static "img/dayzmod-small.png" %}" alt="Rome"><i>LOG</i></a>{% endblock %} #}
                            {# {% block site_brand %}<a class="brand" href="{% url "home" %}" title="IT Wish List - top posts">IT Wish List</a>{% endblock %} #}
                            {# <div class="nav-collapse"> #}
                                {% block nav %}
                                        {% load blog_tags %}
                                        <ul class="nav">
                                            <li><a class="brand" href="{% url "home" %}" title="IT Wishlist - top posts (with most votes).">IT Wishlist (HOT)</a></li>
                                            {# <li{% active request "^/$" %}><a href="/" title="Most popular entries - the IT Wish List homepage">Hot</a></li> #}
                                            <li{% active request "^/new/$" %}><a href="/new/" title="Latest posts (most recently added).">New</a></li>
                                            <li{% active request "^/feature/$" %}><a href="/feature/" title="Feature Request posts with most votes.">Feature Requests</a></li>
                                            <li{% active request "^/bug/$" %}><a href="/bug/" title="Bug Report posts with most votes.">Bug Reports</a></li>
                                            
                                            {% comment %}

                                            <li{% active request "^/ask/$" %}><a href="/ask/" title="Ask anything about Rome">Ask</a></li>
                                            <li{% active request "^/work/$" %}><a href="/work/" title="Top Work Entries">Work</a></li>

    

                                            <li{% active request "^/eat/$" %}><a href="/eat/" title="Top Eat Posts">Eat</a></li>
                                            <li{% active request "^/sleep/$" %}><a href="/sleep/" title="Top Sleep Posts">Sleep</a></li>
                                            <li{% active request "^/socialize/$" %}><a href="/socialize/" title="Top Socialize Posts">Socialize</a></li>
                                            <li{% active request "^/exercise/$" %}><a href="/exercise/" title="Top Exercise Posts">Excercise</a></li>
                                            <li{% active request "^/art/$" %}><a href="/art/" title="Top Art Posts">Art</a></li>
                                            {# <li{% active request "^/shop/$" %}><a href="/shop/" title="Top Shop Posts">Shop</a></li> #}
                                            {# <li{% active request "^/work/$" %}><a href="/work/" title="Top Work Posts">Work</a></li> #}


                                            {# <li{% active request "^/faq/$" %}><a href="/faq/" title="Frequently asked questions.">Faq</a></li> #}
                                            {% endcomment %}
                                        </ul>
                                {% endblock %}
                            {# </div> #}
                                {% block account_bar %}
                                    {% include "_account_bar.html" %}
                                {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {# {% block body_base %} #}
            <div class="container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
                {# {% block banner %} #}
                {# {% endblock %} #}
                <div id="footer">
                    <div class="inner">
                        <div class="container">
                            {% block footer %}
                            <p><a href="javascript:window.location=%22http%3A%2F%2F{{SITE_DOMAIN}}%2Fpost?u=%22+encodeURIComponent(document.location)+%22&amp;t=%22+encodeURIComponent(document.title)" title="Drag this link to your browser bookmarks bar, then click on it to post a link to the webpage you are currently visiting to IT Wish List.">Post to IT Wish List</a> <span class="small subdued">&larr; drag to your browser toolbar, then click to post the current page to it.ippc.int (useful for posting bug reports)</span></p>

{% comment %}
    

                            <p class="subdued">
                                <span{% active request "^/faq/$" %}><a href="/faq/" title="Frequently asked questions.">FAQ</a></span> ·
                                <span{% active request "^/guidelines/$" %}><a href="/faq/" title="Guidelines for posts.">Guidelines</a></span>
                            </p>
{% endcomment %}
                            <form class="form-search" method="get" action="/search/"> 
                                {# <label for="id_q">Search the <a href="{% url notes_archive %}">archive</a>:</label>  #}
                                <input class="input-large search-query" type="text" name="q" id="id_q" size="30" placeholder="keyword(s)" /> 
                                <button type="submit" class="btn">Search</button>
                            </form>
                            <p class="small quiet">
                                Recent posts with most <strong class="subdued" style="font-family:'courier new', courier, monospace;">&and;</strong>upvotes (hot) are on the <a href="/">homepage</a>. Most recently added posts are in <a href="/new/">new</a>. Pages listing <a href="/feature/">new feature requests</a> and <a href="/bug/">bugs</a> are also available.
                                <br>
                                <a href="/about/" title="What is this site?">About the IPPC IT Wishlist</a>
                                <br>
                                ~
                                {# <br> #}
                                {#                                 Original entries &amp; comments copyright © by their authors.  #}
                                {#                                 <br> #}
                                {#                                 Thank you for visiting <a class="quiet" href="/">it.ippc.int</a>, dear reader. #}
                                {#                                 <br> #}
                                {#                                 <span class="caps">Festina Lente Consilio Manuque</span> #}
                            </p> 
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {# {% endblock %} #}



        {# {% include "includes/markdown_cheatsheet.html" %} #}

        {% block script_base %}
            {% comment %}    
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
            {% endcomment %}
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>

            <script src="{% static "js/jquery.timeago.js" %}"></script>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery("time.timeago").timeago();
                });
            </script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
