{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Bug Reports{% endblock %}

{% block body %}  
    {% include "blog/post_list.html" %}
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="span4">
        {# {% if user.is_authenticated %} #}
        {# {% include "search_form.html" %} #}
        {# {% else %}         #}
            <h1 style="margin-bottom:0;">Bug Reports</h1>
            <p class="lead subdued" style="margin-top:0;">Bug Report items sorted by most recently updated.</p>
            {% include "search_form.html" %}
            {% include "latest_comments.html" %}
        {# {% endif %} #}
    </div>                              
</div>
{% endblock sidebar %}