{% extends "base.html" %}
{% load i18n %}
{% block head_title %}Done{% endblock %}

{% block body %}  
    {% include "blog/post_list.html" %}
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="span4">
        {# {% if user.is_authenticated %} #}
        {# {% include "search_form.html" %} #}
        {# {% else %}         #}
            <h1 style="margin-bottom:0;">Done</h1>
            <p class="lead subdued" style="margin-top:0;">Stuff that&rsquo;s been finished sorted by most recently added.</p>
            {% include "search_form.html" %}
        {# {% endif %} #}
    </div>                              
</div>
{% endblock sidebar %}