{% load comments i18n %}
{% if user.is_authenticated %}
<h4 id="writecomment">Your Comment <small>(<a data-toggle="modal" href="#markdownhelp" title="Click to see a cheatsheet of Markdown.">Markdown syntax</a> is supported)</h4>
   <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.name = "name" %}
            {# =todo: make username populate name field by default instead of using hidden value #}
                {# <input id="id_name" name="name" type="hidden" value="{{ user.username }}">  #}
            {% endif %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <input class="btn submit-post" name="post" type="submit" value="Submit" />
   </form>
    {% include "includes/markdown_cheatsheet.html" %}
{% else %}
    <p><a class="btn" href="/account/login/?next={{ request.path }}">Log in</a></strong> to submit comments.</p>
{% endif %}