{% for comment in comment_list %}
<div class="comment {% cycle odd,even %}" id="comment{{ forloop.counter }}" >

    {% load thumbnail %}
    
    <p class="subdued small" id="c{{comment.id}}"><a href="#comment{{ forloop.counter }}" title="Permanent link to this comment."><b class="larger">#{{ forloop.counter }}</b></a> by <b><a href="/profiles/{{ comment.user_name }}">
        {% if comment.user.get_profile.user_photo %}
        <img class="pull-right" src="{% thumbnail comment.user.get_profile.user_photo 48x48 crop %}" />
        {% else %}
        <span class="pull-right" style="width:40px; height:28px; background:#eee; font-size:0.7em; font-weight:normal;"></span>
        {% endif %}
        {% if comment.user.get_profile.name %}{{ comment.user.get_profile.name }}{% else %}{{ comment.user.username }}{% endif %}</a></b> on {{ comment.submit_date|date:"D, d M Y, H:i" }}</p>

        {% load markup %}
        {% load blog_tags %}
        {{ comment.comment|markdown:"codehilite,tables,footnotes" }}
        {# {{ comment.comment|urlize|markdown:"codehilite,tables,footnotes" }} #}
</div>
{% endfor %}