{% for comment in comment_list %}
<div class="comment {% cycle odd,even %}" id="comment{{ forloop.counter }}">

    {% load thumbnail %}
    
    <p><a href="#comment{{ forloop.counter }}"><b class="larger">{{ forloop.counter }}</b></a> by <b><a href="/profiles/{{ comment.user_name }}">
        {% if comment.user.get_profile.user_photo %}
        <img class="pull-right" src="{% thumbnail comment.user.get_profile.user_photo 40x28 crop %}" />
        {% else %}
        <span class="pull-right" style="width:40px; height:28px; background:#eee; font-size:0.7em; font-weight:normal;"></span>
        {% endif %}
        {% if comment.user.get_profile.name %}{{ comment.user.get_profile.name }}{% else %}{{ comment.user.username }}{% endif %}</a></b> on {{ comment.submit_date|date:"D, d M Y, H:i" }}</p>
    <p>{{ comment.comment }}</p>
</div>
{% endfor %}